* {
  margin: 0px;
  /* font-family: Arial; */
  box-sizing: border-box;
}

body {
  background-color: #fff0e6;
}

header {
  display: flex;
  background-color: #d95d39;
  color: #fff0e6;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 60px;
  font-family: "Cutive", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  gap: 0.5rem;
}

.left,
.right {
  padding-left: 1rem;
  padding-right: 1rem;
}

h2,
h3,
p,
h4,
form,
footer {
  color: #241b15;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff0e6;
}

.genres {
  display: flex;
  gap: 1rem;
  padding-top: 0.75rem;
}

.genre {
  background-color: #df9e3d;
  color: #241b15;
  font-size: 0.85rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

img {
  height: 30rem;
  padding-top: 0.75rem;
}

/* right display */
.right {
  display: grid;
  gap: 1rem;
}

.synopsis {
  color: #241b15;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.reviews,
.form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-height: 300px;
  background-color: #df9e3d;
  padding: 0.75rem;
  border-radius: 1rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  /* max-height: 300px; */
  overflow-y: scroll;
}

h4 {
  font-size: 1.2rem;
  color: #241b15;
}

.review-container {
  background-color: #fffdfa;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

.form textarea {
  min-height: 100px;
}

label {
  color: #241b15;
  font-size: 0.8rem;
}
.username {
  font-style: italic;
  text-align: end;
}

.rating {
  padding-top: 0.5rem;
  text-align: end;
}

button {
  background-color: #d95d39;
  color: #fff0e6;
  border-radius: 0.5rem;
  max-width: 100px;
  border: none;
  padding: 0.5rem;
  font-weight: bold;
}

button:hover {
  background-color: #fff0e6;
  color: #241b15;
}

footer {
  background-color: #d95d39;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1rem;
}

@media (min-width: 900px) {
  main {
    grid-template-columns: 40% 60%;
    align-items: start;
  }

  .right {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  .synopsis {
    grid-column: 1 / span 2;
  }

  .reviews,
  .form {
    max-height: 500px;
  }

  .form textarea {
    flex: 1;
  }
}
